# pip install --upgrade pip wheel
# pip install wheel

# pip install flask
# pip install python-dotenv
# pip install flask-wtf
# pip install flask-sqlalchemy
# pip install flask-migrate
# pip install flask-login

asn1crypto==0.24.0
astroid==1.6.5
backports.functools-lru-cache==1.5
configparser==3.7.3
cryptography==2.1.4
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.17
isort==4.3.15
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
pycrypto==2.6.1
pygobject==3.26.1
pylint==1.9.4
pylint-flask==0.6
pylint-plugin-utils==0.5
pyOpenSSL==17.5.0
pyxdg==0.25
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
vboxapi==1.0
wrapt==1.11.1